*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
h1{
    text-align: center;
}

.card {
    background: #007BFF;
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}