*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

ul {
    width: 200px;
    margin: auto;
}

li {
    padding: 10px;
    font-size: 18px;
}

/* First child */
li:first-child {
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bold;
}

/* Last child */
li:last-child {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
}