*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box {
  display: inline-block; /* or block */
  width: 700px;
  height: 80px;
  background: rgb(238, 152, 3);
  text-align: center;
  line-height: 80px;
}