*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

.profile-card {
    width: 300px;
    height: 420px;
    padding: 20px;
    border: 2px solid black;
    margin: 50px auto;
    background-color: rgb(38, 235, 202);
    text-align: center;
}

.profile-card img {
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    margin-bottom: 15px;
}

.profile-card h2 {
    margin: 10px 0;
}

.profile-card p {
    margin: 8px 0;
    font-size: 18px;
}